@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --primary-color: #9a031a;
  --secondary-color: #0f4c5c;
  --third-color: #cca43b;
  --light-color: #ffffff;
  --dark-color: #000000;
}

:root {
  margin: 0;
  padding: 0;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #f5f5fc;
  opacity: 1;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #dcdce9 0,
    #e1e1ec 1px,
    #efeffc 0,
    #e5e5f7 50%
  );
}

h1 {
  font-family: var(--secondary-font);
  color: var(--light-color);
}

h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

h3 {
  font-family: var(--secondary-font);
  color: var(--third-color);
}
p {
  font-family: var(--primary-font);
  font-size: 1rem;
}
#hero {
  height: 40rem;
  width: auto;
  background: url(../images/pexels-peng-liu-45946-169647.jpg);
  background-color: var(--secondary-color);
  position: relative;
}

.navbar-dark,
.dropdown-item {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 1rem;
}

.header-container {
  position: relative;
  width: 75%;
  color: var(--light-color);
}

.centred-header-text {
  background-color: var(--third-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-color);
  font-size: 2em;
  text-shadow: 1px 1px var(--dark-color);
}

/* Google Maps API  */

html,
body {
  height: 100%;
  margin: 2rem;
  padding: 1rem;
}

.place-picker-container {
  padding: 20px;
}
