@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Playfair Display", serif;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url(../images/pexels-gdtography-277628-950241.jpg);
}

#hero {
  height: 40rem;
  width: auto;
  background: url(../images/pexels-lkloeppel-466685.jpg) no-repeat center
    center/cover;
  background-color: var(--secondary-color);
  position: relative;
}

.navbar-dark {
  background-color: #9a031a;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

/* Google Maps API  */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.place-picker-container {
  padding: 20px;
}
