@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --primary-color: #9a031a;
  --secondary-color: #0f4c5c;
  --third-color: #cca43b;
  --light-color: #ffffff;
  --dark-color: #000000;
  --bs-gutter-x: 0;
}

/* Global Styles */
/* * {
  margin: 0;
  padding: 0;
  border: none;
} */

body {
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #f6f6f6 0,
    #f6f6f6 1px,
    #ffffff 0,
    #ffffff 50%
  );
}

h1 {
  font-family: var(--secondary-font);
  color: var(--light-color);
}

h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

h3 {
  font-family: var(--secondary-font);
  color: var(--third-color);
}
p {
  font-family: var(--primary-font);
  font-size: 1rem;
}

.section {
  background-color: var(--light-color);
}
#map {
  height: 40rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#address {
  width: 67rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#locations,
#gallery {
  background-color: var(--light-color);
}

#background {
  background: url(../images/main-image.webp) no-repeat center center / cover;
  height: 50rem;
  width: auto;
}

.navbar-dark,
.dropdown-item {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.2rem;
}
.container-fluid {
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.header-container {
  position: relative;
  width: auto;
  color: var(--light-highlight-color);
}

/* .centred-header-text/ {
  background-color: var(--third-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-color);
  font-size: 2em;
  text-shadow: 1px 1px var(--dark-color);
} */

/* Contact Form */

/* Footer */

#footer {
  background-color: var(--third-color);
}
